/* Global settings */

:root {
  --mainBgColor: #222639;    /* Dark bluish background */
  --secondaryBgColor: #313655; /* Slightly lighter bluish background */
  --borderColor1: #434B6E;   /* Dark purple border */
  --borderColor2: #50588C;   /* Slightly lighter purple border */
  --textColorMain: #FFFFFF;  /* White text color */
  --textColorSecondary: wheat; /* Light gray text color */
  --themeColorMain: #F50057; /* Vibrant pink theme color */
  --themeColorSecondary: #00B0FF; /* Bright cyan theme color */
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
color: #40e0d0;
}

body{
  background-color: var(--mainBgColor);
  color: var(--textColorMain);
}

.container{
max-width: 600px;
margin:20px auto;
}

/* Login & Register Pages */

.auth--container{
height: calc(100vh - 49px);
display: flex;
align-items: center;
justify-content: center;
}

.form--wrapper{
width: 600px;
/* width: 600px; */
padding: 2em;
}

.field--wrapper{
display: flex;
flex-direction: column;
gap: 1em;
padding: 0.5em 0;
}



/* Form Input Styling */

input[type="text"], input[type="password"], input[type="email"], textarea{
background: var(--mainBgColor);
border: none;
border-bottom: 1px solid var(--borderColor1);
padding: 1rem;
border-radius: 3px;
width: 100%;
color: var(--color-light);
outline: none;
font-size: 18px;
text-shadow: none !important;
}


/* Button Styling */
.btn--auth{
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.btn--auth:hover{
  /* opacity: 0.7; */
  background-color: var(--themeColorMain); /* Change background color on click */
  color: var(--textColorSecondary);
  }
  
.btn{
padding: 0.5em 1em;
border: none;
border-radius: 50%;
cursor: pointer;
transition: 0.3s;
width: 45px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
}

.btn--lg{
padding: 1em 2em;
}

.btn--main{
background-color: rgba(219,26,90,1);
color: #fff;
}

.btn--secondary{
background-color: #8db3dd;
transition: background-color 0.4s, color 0.4s;
border-radius: 50px;
border: none;
}

.btn:hover{
/* opacity: 0.7; */
background-color: var(--themeColorMain); /* Change background color on click */
color: var(--textColorSecondary);
}

.btn--secondary:focus{
  outline: none;
}
.btn--secondary svg{
  display: block;
}

/* Header Styling */

#header--wrapper{
background-color: var(--mainBgColor);
padding: 1em;
display: flex;
justify-content: space-between;
border-radius: 10px 10px 0 0;
border:1px solid var(--borderColor1);
border-bottom: none;
}

.header--link{
color: #c7d8eb;
cursor: pointer;
transition: 0.3s;
}

.header--link:hover{
color: #8db3dd;
}

/* Room Styling */
.room--container{
padding: 2em;
background-color: var(--secondaryBgColor);
border:1px solid var(--borderColor1);
width: 600px;
height: 100vh;
overflow: auto;
overflow-x: hidden;
}

/* Scroll Bar */
.room--container::-webkit-scrollbar {
  width: 9px;
}
.room--container::-webkit-scrollbar-thumb{
  background-color: var(--themeColorMain);
  border-radius: 5px;
}
.room--container::-webkit-scrollbar-track{
  background-color: var(--secondaryBgColor);
}
.room--container {
  scrollbar-color: var(--themeColorMain) var(--secondaryBgColor);
}

#message--form{
display: flex;
flex-direction: column;
gap: 0.5em;
border-radius: 0 0 10px 10px;
border:1px solid var(--borderColor1);
border-bottom: 3px var(--secondaryBgColor) solid;
}

.parent--textarea--btn{
  display: flex;
  background-color: var(--secondaryBgColor); 
  padding: 10px;
}

textarea{
  flex: 1;
  background-color: #424973;
  border: 1px solid var(--borderColor1);
  padding: 1rem;
  color: var(--textColorMain);
  outline: none;
  font-size: 18px;
  resize: none; /* Disable textarea resize */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
textarea::-webkit-scrollbar{
  width: 9px;
}
textarea::-webkit-scrollbar-thumb{
  background-color: var(--themeColorMain);
  border-radius: 5px;
}
textarea::-webkit-scrollbar-track{
  background-color: var(--secondaryBgColor);
}
textarea {
  scrollbar-color: var(--themeColorMain) var(--secondaryBgColor);
}

.send-btn--wrapper {
display: flex;
justify-content: flex-end;
padding: 20px 0px 20px 15px;
}

.message--wrapper{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 0.5em;
margin:1em;
word-wrap: break-word;
overflow-wrap: anywhere;
}

.message--header{
display: flex;
justify-content: space-between;
align-items: center;
}

.message--header--owner{
display: flex;
justify-content: end;
align-items: center;
}

.message--body {
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  background-color: var(--themeColorMain);
  padding: 1em;
  border-radius: 20px;
  width: fit-content;
  max-width: 100%;
  /* word-wrap: break-word; */
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease; 
  white-space: normal; 
}

.message--body--owner {
  padding: 0.5em 0;
  color: var(--textColorSecondary);
  background-color: rgb(35, 34, 34);
  padding: 1em;
  border-radius: 20px;
  width: fit-content;
  max-width: 100%;
  /* word-wrap: break-word; */
  margin-left: auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease; 
  white-space: normal;
}

/* Add hover effect to both message--body and message--body--owner */
.message--body--owner:hover{
  box-shadow: 3px 3px 5px rgba(219, 26, 90, 1);
}
.message--body:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.parent--message--delete {
  display: flex;
  align-items: center;
  /* word-wrap: break-word;
  white-space: nowrap; */
}

.message-timestamp{
margin-left: 1em;
color: rgb(164, 161, 161);
}

.delete--btn{
color:#8db3dd;
cursor: pointer;
transition: 0.3s;
width: 20px;
margin-left: 5px;
}

.delete--btn:hover{
color: rgba(219, 26, 90, 1);
}

@media (max-width: 600px) {
  .room--container{
    width: 100%;
    max-height: calc(100vh - 220px);
  }
}
@media (min-width: 601px) and (max-width: 1199px) {
  .room--container {
    width: 600px; /* Set the width to 700px for middle screens */
    max-height: 70vh; /* Adjust the max-height as needed for middle screens */
  }
}
@media (min-width: 1200px) {
  .room--container {
    width: 600px; /* Set the width to 800px for larger screens */
    max-height: 66.25vh; /* Adjust the max-height as needed for larger screens */
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db1a5a;
  padding: 15px;
  font-size: 14px;
  color: #333;
}

.footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.footer a i {
  margin-right: 10px;
}

.footer a:hover {
  color: white;
}
